<div id="map-container" data-x="{{ x }}" data-y="{{ y }}" data-zoom="{{ zoom }}">
    <div id="map-grid" class="grid grid-cols-2 grid-rows-2 w-screen h-screen justify-center items-center align-middle text-center">
        <div class="map-part h-full col-span-1 row-span-1 bg-cover" id="img-tl"></div>
        <div class="map-part h-full col-span-1 row-span-1 bg-cover" id="img-tr"></div>
        <div class="map-part h-full col-span-1 row-span-1 bg-cover" id="img-bl"></div>
        <div class="map-part h-full col-span-1 row-span-1 bg-cover" id="img-br"></div>
    </div>
</div>
