{% extends 'base.html' %}
{% load static %}
{% load utilities %}

{% block content %}
<div id="map-container" data-x="0" data-y="0" data-zoom="1">
    <div id="map-grid" class="w-screen h-screen justify-center items-center align-middle text-center">
        <div class="map-part h-full col-span-1 row-span-1 bg-cover" id="img-tl"></div>
        <div class="map-part h-full col-span-1 row-span-1 bg-cover" id="img-tr"></div>
        <div class="map-part h-full col-span-1 row-span-1 bg-cover" id="img-bl"></div>
        <div class="map-part h-full col-span-1 row-span-1 bg-cover" id="img-br"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const imageUrl = "media/images/mapaeuropy.jpg"; // Replace with your image URL
    let x, y, zoom;

    // Function to set background image and position
    const setImage = (element, position) => {
        element.style.backgroundImage = `url(${imageUrl})`;
        element.style.backgroundSize = `${zoom * 100}%`; // Adjust zoom to fit the grid
        element.style.backgroundPosition = position;
    };

    document.addEventListener("DOMContentLoaded", () => {
        function bindMapEvents() {
            console.log("binding...");

            let mapContainer = document.getElementById('map-container');
            let mapGrid = document.getElementById('map-grid');
            let x = parseInt(mapContainer.dataset.x);
            let y = parseInt(mapContainer.dataset.y);
            let zoom = parseInt(mapContainer.dataset.zoom);

            let is_dragging = false;
            let start_x, start_y, end_x, end_y, delta_zoom;

            mapGrid.addEventListener("mousedown", (e) => {
                is_dragging = true;
                start_x = e.clientX;
                start_y = e.clientY;
                mapGrid.classList.add('cursor-grabbing');
                console.log('mousedown');
            });

            document.addEventListener('mousemove', (e) => {
                if (is_dragging) {
                    const dx = e.clientX - start_x;
                    const dy = e.clientY - start_y;
                    mapGrid.style.transform = `translate(${dx}px, ${dy}px)`;
                }
            });

            document.addEventListener("mouseup", (e) => {
                if (is_dragging) {
                    end_x = e.clientX;
                    end_y = e.clientY;
                    is_dragging = false;
                    mapGrid.classList.remove('cursor-grabbing');
                    x += parseInt(start_x - end_x);
                    y += parseInt(start_y - end_y);
                    htmx.ajax('GET', `/civ/map?x=${x}&y=${y}&zoom=${zoom}`, {target: '#map-container', swap: 'outerHTML'});
                    console.log('mouseup');
                }
            });

            window.addEventListener("wheel", (e) => {
                console.log("scrolling...", e.deltaY, typeof(e.deltaY));
                delta_zoom = e.deltaY > 0 ? 1 : -1;
                htmx.ajax('GET', `/civ/map?x=${x}&y=${y}&zoom=${zoom + delta_zoom}`, {target: '#map-container', swap: 'outerHTML'});
            });

            mapGrid.ondragstart = function() { return false; };

            // Apply the image to each container with the appropriate position
            setImage(document.getElementById('img-tl'), '0% 0%');
            setImage(document.getElementById('img-tr'), '100% 0%');
            setImage(document.getElementById('img-bl'), '0% 100%');
            setImage(document.getElementById('img-br'), '100% 100%');
            console.log("map parts set");
        }

        bindMapEvents();

        document.addEventListener('htmx:afterRequest', (e) => {
            bindMapEvents();
            setImage(document.getElementById('img-tl'), '0% 0%');
            setImage(document.getElementById('img-tr'), '100% 0%');
            setImage(document.getElementById('img-bl'), '0% 100%');
            setImage(document.getElementById('img-br'), '100% 100%');
        });
    });
</script>
{% endblock %}
