{% extends 'base.html' %}
{% load static %}
{% load utilities %}

{% block content %}
<div id="map-container" data-x="0" data-y="0" data-zoom="100">
    <div id="map-grid" class="w-screen h-screen justify-center items-center align-middle text-center">
        <div class="map-part h-full col-span-1 row-span-1 bg-repeat-x bg-cover" id="map"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const imageUrl = "/media/images/world.jpg";
    let x, y, zoom, img_width, img_height, screen_width, screen_height, real_img_width, real_img_height;

    const calc_real_size = () => {
        real_img_width = screen_width * zoom / 100.0;
        real_img_height = real_img_width * img_height / img_width;
        console.log("calc real: ", zoom, img_width, img_height, real_img_width, real_img_height)
    };

    const clamp_borders = () => {
        if (y > 0){
            console.log("upper limit", y, screen_height, real_img_height);
            y = 0;
        }
        else if (y - screen_height < -real_img_height){
            console.log("lower limit", y, screen_height, real_img_height);
            y = -real_img_height + screen_height;
        }
    };

    const fix_zoom = (old_zoom, new_zoom) => {
        let center_x, center_y, new_center_x, new_center_y;
        center_x = screen_width / 2 - x;
        center_y = screen_height / 2 - y;
        new_center_x = center_x * new_zoom / old_zoom;
        new_center_y = center_y * new_zoom / old_zoom;

        console.log(`pre zoom: x = ${x}, y = ${y}, img_width = ${real_img_width}, img_height = ${real_img_height}`);
        x -= (new_center_x - center_x);
        y -= (new_center_y - center_y);
        console.log(`post zoom: x = ${x}, y = ${y}`);
        map.style.backgroundPosition = parseInt(x) + 'px ' + parseInt(y) + 'px';
    };

    const set_image = (element, position) => {
        element.style.backgroundImage = `url(${imageUrl})`;
        element.style.backgroundSize = `${zoom}%`;
        element.style.backgroundPosition = position;

        var imageSrc = element.style.backgroundImage.replace(/url\((['"])?(.*?)\1\)/gi, '$2').split(',')[0];
        var image = new Image();
        image.src = imageSrc;

        img_width = image.width,
        img_height = image.height;
        console.log(img_width, img_height);
    };

    document.addEventListener("DOMContentLoaded", () => {
        function bindMapEvents() {
            // getting map elements
            let mapContainer = document.getElementById('map-container');
            let mapGrid = document.getElementById('map-grid');
            let map = document.getElementById('map');
            // getting data
            x = parseInt(mapContainer.dataset.x);
            y = parseInt(mapContainer.dataset.y);
            zoom = parseInt(mapContainer.dataset.zoom);
            // setting zoom
            map.style.backgroundSize = `${zoom}%`;
            // getting screen size
            screen_width = map.getBoundingClientRect()['width']
            screen_height = map.getBoundingClientRect()['height']

            let is_dragging = false;
            let start_x, start_y, end_x, end_y, delta_zoom;

            mapGrid.addEventListener("mousedown", (e) => {
                calc_real_size();
                is_dragging = true;
                start_x = e.clientX;
                start_y = e.clientY;
                mapGrid.classList.add('cursor-grabbing');
                console.log('mousedown ', x, y);
            });

            document.addEventListener('mousemove', (e) => {
                if (is_dragging) {
                    const dx = e.clientX - start_x;
                    const dy = e.clientY - start_y;
                    console.log(parseInt(x + dx), parseInt(y + dy));

                    // returning to vertical borders
                    if (y + dy > 0){
                        console.log("upper limit", y, screen_height, real_img_height);
                        y = -dy;
                    }
                    if (y + dy - screen_height < -real_img_height){
                        console.log("lower limit", y, screen_height, real_img_height);
                        y = -real_img_height + screen_height - dy;
                    }

                    map.style.backgroundPosition = parseInt(x + dx) + 'px ' + parseInt(y + dy) + 'px';
                }
            });

            document.addEventListener("mouseup", (e) => {
                if (is_dragging) {
                    end_x = e.clientX;
                    end_y = e.clientY;
                    is_dragging = false;
                    mapGrid.classList.remove('cursor-grabbing');
                    x += parseInt(end_x - start_x);
                    y += parseInt(end_y - start_y);
                    console.log('mouseup ', x, y);
                }

                console.log(`mouseup 2, x = ${x}, real_img_width = ${real_img_width}`);
                // returning to first map copy
                if (x > real_img_width || x < -real_img_width){
                    console.log("x cut");
                    x = x % real_img_width;
                }

                map.style.backgroundPosition = x + 'px ' + y + 'px';
            });

            window.addEventListener("wheel", (e) => {
                let old_zoom = zoom;
                delta_zoom = e.deltaY > 0 ? 1 : -1;
                zoom += delta_zoom * 5;
                map.style.backgroundSize = `${zoom}%`;
                calc_real_size();
                fix_zoom(old_zoom, zoom);
                console.log("scrolling...", zoom, real_img_height, real_img_width);
            });

            mapGrid.ondragstart = function() { return false; };

            set_image(document.getElementById('map'), '0% 0%');
            // setting map size
            calc_real_size();
            console.log("map parts set");
        }

        bindMapEvents();

        document.addEventListener('htmx:afterRequest', (e) => {
            bindMapEvents();
        });
    });
</script>
{% endblock %}
