{% extends 'base.html' %}

{% block content %}
<h1>Civilzation</h1>
<hr>
<div class="map-div">
    <table class="map-table">
        {% for row in tiles %}
            <tr>
                {% for tile in row %}
                    <td style="background-color: #{% if mode == 'geo' %}{{ tile.color }}{% else %}{{ tile.political_color }}{% endif %};}" data-x="{{ tile.x }}" data-y="{{ tile.y }}" title="{{ tile.get_title_description |safe }}"></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}