{% extends 'base.html' %}


{% block content %}
{% load static %}
<div class="responsive">
    <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">
                <img src="{% static 'upload/images/bu.jpg' %}" alt="Cinque Terre">
            </a>
        <div class="desc">Borsuk-Ulam</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">
                <img src="{% static 'upload/article_images/peepoglad.png' %}" alt="Cinque Terre">
            </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">
                <img src="{% static 'upload/article_images/peepoglad.png' %}" alt="Cinque Terre">
            </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">
                <img src="{% static 'upload/article_images/peepoglad.png' %}" alt="Cinque Terre">
            </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
{% endblock %}