{% extends 'base.html' %}
{% load static %}
{% load utilities %}

{% block body %} class="bg-trawirr-green-100 h-screen flex justify-center font-mono" {% endblock %}

{% block content %}

<div class="w-screen flex flex-col items-center ">
    <!-- Menu -->
    <div id="top-menu" class="flex w-3/4 h-16 m-4 p-1 rounded-full bg-trawirr-green-200 shadow-lg shadow-black text-gray-200 text-2xl tracking-widest">
        <a href={% url 'home' %} class="w-1/2 h-full rounded-l-full flex text-center items-center justify-center hover:bg-trawirr-green-300">
            Projects
        </a>
        <a href={% url 'about-me' %} class="w-1/2 h-full rounded-r-full flex text-center items-center justify-center hover:bg-trawirr-green-300">
            About me
        </a>
    </div>

    <!-- Main Content -->
    <div id="main-content" class="flex w-2/3 mt-8 mb-4">
        <div id="main-left" class="w-1/2 mt-16 mr-2 p-4 bg-trawirr-gray-100 rounded-l-3xl">
            <!-- Timeline -->
            <div class="ps-2 my-2 first:mt-0">
                <h3 class="text-lg font-medium uppercase text-gray-500 dark-text-neutral-400">
                    Before
                </h3>
            </div>

            <!-- Item -->
            <div class="flex gap-x-3">
                <!-- Icon -->
                <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
                    <div class="relative z-10 size-7 flex justify-center items-center">
                        <div class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"></div>
                    </div>
                </div>
                <!-- End Icon -->

                <!-- Right Content -->
                <div class="grow pt-0.5 pb-8">
                    <h3 class="flex gap-x-1.5 font-semibold text-gray-500 dark:text-white">
                        III Liceum Ogólnokształcące im. Jana Pawła II (2014-2017)
                    </h3>
                    <p class="mt-1 text-sm dark:text-neutral-400">
                        <ul class="ml-3 text-gray-600 list-disc">
                            <li>Medalist for academic results</li>
                            <li>Laureate of Gdańsk University of Technology competition "Wygraj Indeks"</li>
                            <li>Third Place in mathematical contest of Elbląg PWSZ</li>
                            <li>Prime Minister's Scholarship for the best student</li>
                        </ul>
                    </p>
                </div>
                
                <!-- End Right Content -->
            </div>
            <!-- End Item -->

            <!-- Item -->
            <div class="flex gap-x-3">
                <!-- Icon -->
                <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
                    <div class="relative z-10 size-7 flex justify-center items-center">
                        <div class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"></div>
                    </div>
                </div>
                <!-- End Icon -->

                <!-- Right Content -->
                <div class="grow pt-0.5 pb-8">
                    <h3 class="flex gap-x-1.5 font-semibold text-gray-500 dark:text-white">
                        Rypin history project
                    </h3>
                    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
                        Technical support for Rypin history project carried out as part of the "Kultura w Sieci" project, organized by the Polish Ministry of Culture
                    </p>
                </div>
                
                <!-- End Right Content -->
            </div>
            <!-- End Item -->

            <!-- Item -->
            <div class="flex gap-x-3">
                <!-- Icon -->
                <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
                    <div class="relative z-10 size-7 flex justify-center items-center">
                        <div class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"></div>
                    </div>
                </div>
                <!-- End Icon -->

                <!-- Right Content -->
                <div class="grow pt-0.5 pb-8">
                    <h3 class="flex gap-x-1.5 font-semibold text-gray-500 dark:text-white">
                        Work practice in Urząd Miejski w Gdańsku
                    </h3>
                </div>
                
                <!-- End Right Content -->
            </div>
            <!-- End Item -->

            <!-- Timeline -->
            <div class="ps-2 my-2 first:mt-0">
                <h3 class="text-lg font-medium uppercase text-gray-500 dark-text-neutral-400">
                    2020
                </h3>
            </div>

            <!-- Item -->
            <div class="flex gap-x-3">
                <!-- Icon -->
                <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
                    <div class="relative z-10 size-7 flex justify-center items-center">
                        <div class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"></div>
                    </div>
                </div>
                <!-- End Icon -->

                <!-- Right Content -->
                <div class="grow pt-0.5 pb-8">
                    <h3 class="flex gap-x-1.5 font-semibold text-gray-500 dark:text-white">
                        Applied Mathematics (2017-2020)
                    </h3>
                    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
                        <ul class="ml-3 list-disc text-gray-600">
                            <li>Gdańsk University of Technology</li>
                            <li>Scholarship for the top 10% of students</li>
                        </ul>
                    </p>
                </div>
                
                <!-- End Right Content -->
            </div>
            <!-- End Item -->

            <!-- Item -->
            <div class="flex gap-x-3">
                <!-- Icon -->
                <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
                <div class="relative z-10 size-7 flex justify-center items-center">
                    <div class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"></div>
                </div>
                </div>
                <!-- End Icon -->

                <!-- Right Content -->
                <div class="grow pt-0.5 pb-8">
                <h3 class="flex gap-x-1.5 font-semibold text-gray-500 dark:text-white">
                    placeholder
                </h3>
                </div>
                <!-- End Right Content -->
            </div>
            <!-- End Item -->

            <!-- Timeline -->
            <div class="ps-2 my-2 first:mt-0">
                <h3 class="text-xl font-medium uppercase text-gray-500 dark-text-neutral-400">
                    2021
                </h3>
            </div>

            <!-- Item -->
            <div class="flex gap-x-3">
                <!-- Icon -->
                <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
                <div class="relative z-10 size-7 flex justify-center items-center">
                    <div class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"></div>
                </div>
                </div>
                <!-- End Icon -->

                <!-- Right Content -->
                <div class="grow pt-0.5 pb-8">
                <h3 class="flex gap-x-1.5 font-semibold text-gray-500 dark:text-white">
                    placeholder
                </h3>
                </div>
                <!-- End Right Content -->
            </div>
            <!-- End Item -->

            <!-- Timeline -->
            <div class="ps-2 my-2 first:mt-0">
                <h3 class="text-xl font-medium uppercase text-gray-500 dark-text-neutral-400">
                    2022
                </h3>
            </div>

            <!-- Item -->
            <div class="flex gap-x-3">
                <!-- Icon -->
                <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
                <div class="relative z-10 size-7 flex justify-center items-center">
                    <div class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"></div>
                </div>
                </div>
                <!-- End Icon -->

                <!-- Right Content -->
                <div class="grow pt-0.5 pb-8">
                    <h3 class="flex gap-x-1.5 font-semibold text-gray-500 dark:text-white">
                        Nokia R&D (2022-2024)
                    </h3>
                    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
                        <ul class="ml-3 list-disc text-gray-600">
                            <li>Django Backend Developer</li>
                            <li>Frontend, data analytics, DevOps and server administration elements</li>
                            <li>Agile, Scrum</li>
                        </ul>
                    </p>
                </div>
                <!-- End Right Content -->
            </div>
            <!-- End Item -->

            <!-- Timeline -->
            <div class="ps-2 my-2 first:mt-0">
                <h3 class="text-xl font-medium uppercase text-gray-500 dark-text-neutral-400">
                    2023
                </h3>
            </div>

            <!-- Item -->
            <div class="flex gap-x-3">
                <!-- Icon -->
                <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
                <div class="relative z-10 size-7 flex justify-center items-center">
                    <div class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"></div>
                </div>
                </div>
                <!-- End Icon -->

                <!-- Right Content -->
                <div class="grow pt-0.5 pb-8">
                <h3 class="flex gap-x-1.5 font-semibold text-gray-500 dark:text-white">
                    zu.agency
                </h3>
                <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
                    <ul class="ml-3 list-disc text-gray-600">
                        <li>application integration</li>
                        <li>task automation</li>
                    </ul>
                </p>
                </div>
                <!-- End Right Content -->
            </div>
            <!-- End Item -->

            <!-- Item -->
            <div class="flex gap-x-3">
                <!-- Icon -->
                <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
                <div class="relative z-10 size-7 flex justify-center items-center">
                    <div class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"></div>
                </div>
                </div>
                <!-- End Icon -->

                <!-- Right Content -->
                <div class="grow pt-0.5 pb-8">
                <h3 class="flex gap-x-1.5 font-semibold text-gray-500 dark:text-white">
                    Interactive installation at the Gdynia Design Days exposition
                </h3>
                </div>
                <!-- End Right Content -->
            </div>
            <!-- End Item -->

            <!-- Timeline -->
            <div class="ps-2 my-2 first:mt-0">
                <h3 class="text-xl font-medium uppercase text-gray-500 dark-text-neutral-400">
                    2024
                </h3>
            </div>

            <!-- Item -->
            <div class="flex gap-x-3">
                <!-- Icon -->
                <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
                <div class="relative z-10 size-7 flex justify-center items-center">
                    <div class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"></div>
                </div>
                </div>
                <!-- End Icon -->

                <!-- Right Content -->
                <div class="grow pt-0.5 pb-8">
                <h3 class="flex gap-x-1.5 font-semibold text-gray-500 dark:text-white">
                    Informatics - Intelligent Interactive Systems (2019-2024)
                </h3>
                <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
                    <ul class="ml-3 list-disc text-gray-600">
                        <li>Gdańsk University of Technology</li>
                        <li>Scholarship for the best students</li>
                    </ul>
                </p>
                </div>
                <!-- End Right Content -->
            </div>
            <!-- End Item -->

            <!-- Item -->
            <div class="flex gap-x-3">
                <!-- Icon -->
                <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
                <div class="relative z-10 size-7 flex justify-center items-center">
                    <div class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"></div>
                </div>
                </div>
                <!-- End Icon -->

                <!-- Right Content -->
                <div class="grow pt-0.5 pb-8">
                <h3 class="flex gap-x-1.5 font-semibold text-gray-500 dark:text-white">
                    Prize in Gdańsk Animaton 2024 (animation hackathon)
                </h3>
                </div>
                <!-- End Right Content -->
            </div>
            <!-- End Item -->

            <!-- Timeline -->
            <div class="ps-2 my-2 first:mt-0">
                <h3 class="text-xl font-medium uppercase text-gray-500 dark-text-neutral-400">
                    2025
                </h3>
            </div>

            <!-- Item -->
            <div class="flex gap-x-3">
                <!-- Icon -->
                <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
                <div class="relative z-10 size-7 flex justify-center items-center">
                    <div class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"></div>
                </div>
                </div>
                <!-- End Icon -->

                <!-- Right Content -->
                <div class="grow pt-0.5 pb-8">
                <h3 class="flex gap-x-1.5 font-semibold text-gray-500 dark:text-white">
                    Informatics - Machine Learning (2024-2025)
                </h3>
                </div>
                <!-- End Right Content -->
            </div>
            <!-- End Item -->
        </div>

        <div id="main-right" class="w-1/2 mb-16 ml-2 p-4 bg-trawirr-gray-200 rounded-r-3xl space-y-4">
            <div class="flex justify-center items-center">
                <div class="rounded-full aspect-square w-48 border-8 border-trawirr-green-300">
                    <img src="media/images/profile_pic.jpg" alt="profile-pic" class="object-cover rounded-full w-full h-full">
                </div>
            </div>
            <p class="text-center text-3xl">Marcin Garnowski</p>

            <div class="h-1 rounded-md border-4 border-trawirr-gray-100"></div>
            
            <p class="text-center text-2xl">Contact</p>
            <p class="text-center text-l">gtrawirr@gmail.com</p>
            <p class="text-center text-l">664 596 193</p>
            <p class="text-center text-l"><a href="https://www.linkedin.com/in/marcin-garnowski-58806723a/" target="_blank" class="underline">LinkedIn</p></a>
            <p class="text-center text-l"><a href="https://github.com/Trawirr" target="_blank" class="underline">GitHub</p></a>

            <div class="h-1 rounded-md border-4 border-trawirr-gray-100"></div>

            <p class="text-center text-2xl">Skills</p>

            <div class=" w-full flex px-8">
                <div id="skills-left" class="w-1/2">
                    <div class="flex w-fullr text-center items-center">
                        {% for i in 4|times %}
                            <div class="w-4 h-4 rounded-md mx-0.5 bg-trawirr-green-300"></div>
                        {% endfor %}
                        {% for i in 1|times %}
                            <div class="w-4 h-4 rounded-md mx-0.5 bg-gray-600"></div>
                        {% endfor %}
                        <p class="ml-1">Python</p>
                    </div>
                    
                    <div class="flex w-fullr text-center items-center">
                        {% for i in 3|times %}
                            <div class="w-4 h-4 rounded-md mx-0.5 bg-trawirr-green-300"></div>
                        {% endfor %}
                        {% for i in 2|times %}
                            <div class="w-4 h-4 rounded-md mx-0.5 bg-gray-600"></div>
                        {% endfor %}
                        <p class="ml-1">Django</p>
                    </div>
                    
                    <div class="flex w-fullr text-center items-center">
                        {% for i in 3|times %}
                            <div class="w-4 h-4 rounded-md mx-0.5 bg-trawirr-green-300"></div>
                        {% endfor %}
                        {% for i in 2|times %}
                            <div class="w-4 h-4 rounded-md mx-0.5 bg-gray-600"></div>
                        {% endfor %}
                        <p class="ml-1">ML</p>
                    </div>
                </div>

                <div id="skills-right" class="w-1/2">
                    <div class="flex w-full text-center items-center">
                        {% for i in 2|times %}
                            <div class="w-4 h-4 rounded-md mx-0.5 bg-trawirr-green-300"></div>
                        {% endfor %}
                        {% for i in 3|times %}
                            <div class="w-4 h-4 rounded-md mx-0.5 bg-gray-600"></div>
                        {% endfor %}
                        <p class="ml-1">TailwindCSS</p>
                    </div>

                    <div class="flex w-full text-center items-center">
                        {% for i in 2|times %}
                            <div class="w-4 h-4 rounded-md mx-0.5 bg-trawirr-green-300"></div>
                        {% endfor %}
                        {% for i in 3|times %}
                            <div class="w-4 h-4 rounded-md mx-0.5 bg-gray-600"></div>
                        {% endfor %}
                        <p class="ml-1">HTMX</p>
                    </div>
                    
                    <div class="flex w-full text-center items-center">
                        {% for i in 2|times %}
                            <div class="w-4 h-4 rounded-md mx-0.5 bg-trawirr-green-300"></div>
                        {% endfor %}
                        {% for i in 3|times %}
                            <div class="w-4 h-4 rounded-md mx-0.5 bg-gray-600"></div>
                        {% endfor %}
                        <p class="ml-1">dopisać cos</p>
                    </div>
                </div>
            </div>

            <p class="text-center text-l">English B2/C1, numpy, pandas, keras, scikit-learn, celery and others</p>
            <p class="text-center text-l">JavaScript, C, C++, C#, SQL, Matlab, Jira, Git, VSC</p>
            <p class="text-center text-l">Agile, Scrum, work in team, problem solving, creativity, curiosity</p>

            <div class="h-1 rounded-md border-4 border-trawirr-gray-100"></div>

            <p class="text-center text-2xl">Interests</p>
            
            <p class="text-center text-l">Video, board and card games</p>
            <p class="text-center text-l">Polish hip-hop</p>
            <p class="text-center text-l">Books</p>
        </div>
    </div>
</div>



{% endblock %}